@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300;400;500&family=Saira+Condensed:wght@400;700&display=swap');

html, body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-color: #212529;
  font-size: x-large;
}

h1, h2, h3, h4, h5, p, nav, form, .btn {
  font-family: 'Saira Condensed', sans-serif;
}

span {
  font-weight: bold;
}

.intro {
  font-size: x-large;
}

.home-logo {
  height: 20rem;
}

.home-logo:hover {
  animation: spin infinite .5s linear reverse;
}

.jumbotron, .about, .contact, .login, .gallery, .favorites, .noMatch {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  background-image: url(./assets/jumbo-bg.jpeg);
  background-position: top;
  height: 625px;
}

.about {
  background-image: url(./assets/about-bg.jpeg);
  min-height: 625px;
}

.contact {
  background-image: url(./assets/contact-bg.jpeg);
}

.login {
  background-image: url(./assets/login-bg.jpeg);
}

.gallery {
  background-image: url(./assets/gallery-bg.jpeg);
}

.favorites {
  background-image: url(./assets/favorites-bg.jpeg);
}

.noMatch {
  background-image: url(./assets/404-bg.jpeg);
  height: 625px;
}

.noMatch-bg {
  width: 100%;
  height: 40%;
  background-color: #fdc334;
}

.not-found {
  font-weight: bolder;
  font-size: 3rem;
}

.card {
  width: 18rem;
  height: 100%;
}

.card-img-top {
  width: 100%;
  object-fit: scale-down;
}

.gallery-img {
  height: 20vw;
}

.favorite-img {
  height: 25vw;
}

.detail-img {
  height: auto;
  width: 95%;
}

.detail-text {
  font-size: large;
}

.backBtn {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.likeBtn {
  font-size: 2rem;
}

.likeBtn button {
  background: none;
  border: none;
}

.spinner {
  animation: spin infinite 2s linear;
  font-size: 3rem;
}

.likes {
  min-height: 625px;
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

@media screen and (max-width: 768px) {
  .card {
    width: 95%;
    height: 100%;

  }

  .gallery-img {
    height: 50%;
  }

  .favorite-img {
    height: 50%;
  }
}
